// Bulma Import
@import '~bulma';

@import "grid";

hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(220, 220, 220, 0.4) 0%, rgba(220, 220, 220, 0.8) 2%, #ddd 50%, rgba(220, 220, 220, 0.8) 98%, rgba(220, 220, 220, 0.4) 100%);

  &.light, &[light] {
    margin: 10px 0;
  }
}

.padding, .field {
  padding: 5px 10px;
}
